{% extends "base.html" %} {% block content %}


<div class="card bg-light my-4" style="width:400px">
  <div class="card-header text-center">
   <h4> Registration </h4>
  </div>

  <div class="card-body ">
    <form action="" method="post" novalidate>
      {{form.hidden_tag()}}
      <div>
        {{ form.IDmu.label }} <br />
        {{ form.IDmu(size=32,class_="form-control") }}
        {% for error in form.IDmu.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <br/>
      <div>
        {{ form.PWmu.label }} <br />
        {{ form.PWmu(size=32,class_="form-control") }}
        {% for error in form.PWmu.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <br/>
       <div>
        {{ form.s.label }} <br />
        {{ form.s(class_="form-control") }}
        {% for error in form.s.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <br>
      <div class = "text-center">
      {{ form.submit() }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
